.action {
  &__wrapper {
    padding: 114px 0 114px 0;
  }

  &__wrapper > h3 {
    margin: 0 0 56px 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__group-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__group {
    display: flex;
    justify-content: space-between;
  }

  &__group img {
    display: block;

    width: 280px;
    height: 462px;

    background-color: #4f72d3;
  }

  &__part {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 280px;
    padding: 43px 35px 44px 43px;

    color: #ffffff;

    background-color: #ed0233;
  }

  &__part h4 {
    margin: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
  }

  &__part span {
    display: inline-block;
    margin: 0 0 21px 0;

    vertical-align: middle;

    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
  }

  &__part p {
    margin: 0;
    line-height: 24px;
    letter-spacing: 1px;
  }

  &__part a {
    display: inline-block;
    width: 79px;
    padding-bottom: 2px;
    margin-top: auto;

    vertical-align: middle;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    border-bottom: 1px solid #ffffff;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 560px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 211px;
    padding: 24px 27px 27px;

    border: 7px solid transparent;
    border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
    border-image-slice: 7;
  }

  &__item h3 {
    margin: 0 0 11px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #1c3374;
  }

  &__item p {
    margin: 0;
  }

  &__item a {
    width: 69px;
    padding-bottom: 3px;
    margin-top: auto;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #1c3374;

    border-bottom: 1px solid #1c3374;
  }
}

@media (max-width: 1199px) {
  .action {
    &__wrapper {
      width: 678px;
      margin: 0 auto;
      padding: 96px 0;
    }

    &__wrapper > h3 {
      margin: 0 0 45px 0;

      font-size: 42px;
      line-height: 42px;
    }

    &__group-wrapper {
      flex-direction: column;
    }

    &__group {
      margin-bottom: 30px;
    }

    &__group img {
      height: 462px;
      width: 399px;
    }

    &__part {
      padding: 41px 33px 45px 45px;
    }

    // &__part h4 {
    // }

    &__part span {
      margin: 0 0 17px 0;

      line-height: 75px;
    }

    &__part p {
      font-size: 18px;
      letter-spacing: 0;
    }

    // &__part a {
    // }

    &__list {
      flex-direction: row;
      width: 100%;
    }

    &__item {
      width: 324px;
      padding: 24px 27px 29px;
    }

    // &__item h3 {
    // }

    // &__item p {
    // }

    &__item a {
      padding-bottom: 1px;
    }
  }
}

@media (max-width: 767px) {
  .action {
    &__wrapper {
      width: 290px;
      padding: 66px 0;
    }

    &__wrapper > h3 {
      margin: 0 0 46px 0;

      font-size: 32px;
      line-height: 32px;
    }

    // &__group-wrapper {
    // }

    &__group {
      flex-direction: column;
    }

    &__group img {
      width: 290px;
      height: 299px;
    }

    &__part {
      align-items: center;
      width: 100%;
      padding: 41px 45px 45px 45px;
    }

    &__part h4 {
      margin: 0;
    }

    &__part span {
      margin: 0 0 13px 0;
    }

    &__part p {
      margin-bottom: 31px;

      text-align: center;
    }

    // &__part a {
    // }

    &__list {
      flex-direction: column;
    }

    &__item {
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      padding: 35px 27px 39px;
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    // &__item h3 {
    // }

    &__item p {
      text-align: center;
    }

    // &__item a {
    // }
  }
}
