.advantages {
  background-color: #f8f9fc;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box; //
  // min-height: 664px; //
  padding-top: 116px;
  padding-bottom: 120px;
}

.advantages__wrapper h3 {
  margin: 0 0 72px 0;

  font-family: "Bebas Neue Regular", "Arial", sans-serif;
  font-size: 49px;
  text-align: center;
  line-height: 49px;
  letter-spacing: 0.03em;
}

.advantages__wrapper-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 61px;
}

.advantages__group {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 90px;

  margin-top: -11px;

  &--item1 {
    order: 1;
    padding-bottom: 74px;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
  }

  &--item2 {
    width: 340px;
    order: 3;
    padding-bottom: 74px;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);

    & .advantages__item-number {
      margin-left: 0;
    }
  }

  &--item3 {
    position: absolute;
    order: 4;
    bottom: -6px;
    left: 55px;

    & .advantages__item-number h4 {
      margin-right: 28px;
    }
  }

  &--item4 {
    position: absolute;
    order: 5;
    bottom: -6px;
    right: 60px;

    width: 340px;

    & .advantages__item-number {
      margin-left: 0;
    }
  }
}

.advantages__item-number {
  margin-left: 27px;
}

.advantages__item-number h4 {
  margin: 0 32px -5px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 71px;
  line-height: 71px;

  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advantages__item-number p {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2e35ac;
}

.advantages__item-description h4 {
  margin: 0 0 9px 0;
  padding-top: 10px;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

.advantages__item-description p {
  margin: 0;

  font-style: normal;
  font-weight: 300;
}

.advantages__block {
  order: 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  width: 240px;
  min-height: 307px;

  padding: 55px 34px 42px;

  color: #ffffff;

  background-color: #1c3374;
}

.advantages__block h4 {
  margin: 0 0 10px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 71px;
  line-height: 71px;
}

.advantages__block-title {
  margin: 0 0 24px 0;

  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
}

.advantages__block-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 1199px) {
  .advantages__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 98px;
    padding-bottom: 94px;
  }

  .advantages__wrapper h3 {
    width: 100%;
    margin: 0 0 49px 0;

    font-size: 42px;
    line-height: 42px;
  }

  .advantages__wrapper-list {
    width: 678px;
    margin: 0 auto;
    padding: 0;
  }

  .advantages__group {
    width: 320px;

    &--item1 {
      order: 1;
      padding-bottom: 37px;
      border-bottom: none;
    }

    &--item2 {
      order: 2;
      margin-right: 5px;
      padding-bottom: 37px;
      border-bottom: none;
    }

    &--item3 {
      position: relative;
      order: 4;
      left: 0;

      & .advantages__item-number h4 {
        margin-right: 30px;
      }
    }

    &--item4 {
      position: relative;
      margin-right: 5px;
      order: 5;
      right: 0;
    }
  }

  .advantages__item-number {
    margin-left: 0;
  }

  .advantages__item-number h4 {
    margin: 0 30px 0 0;

    font-size: 58px;
  }

  .advantages__item-number p {
    margin-top: -5px;
    line-height: 14px;
  }

  .advantages__item-description h4 {
    margin: 0 0 6px 0;

    font-size: 20px;
  }

  .advantages__block {
    order: 3;

    width: 442px;
    min-height: auto;
    margin-bottom: 39px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 134px 38px 134px;
  }

  .advantages__block h4 {
    margin: 0 0 6px 0;

    font-size: 74px;
  }

  .advantages__block-title {
    margin: 0 0 18px 0;

    font-size: 22px;
  }

  .advantages__block-subtitle {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .advantages__wrapper {
    padding-top: 66px;
    padding-bottom: 70px;
  }

  .advantages__wrapper h3 {
    margin: 0 0 51px;

    font-size: 32px;
    line-height: 32px;
  }

  .advantages__wrapper-list {
    width: 290px;
  }

  .advantages__group {
    flex-direction: column;
    align-items: center;
    height: auto;

    &--item1 .advantages__item-description p {
      width: 190px;
    }

    &--item2 {
      padding-bottom: 319px;
    }

    &--item3 {
      padding-bottom: 40px;

      & .advantages__item-number h4 {
        margin-right: 0;
      }
    }

    &--item3 .advantages__item-description p {
      width: 200px;
    }

    &--item4 {
      padding-bottom: 0;
    }
  }

  .advantages__item-number {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__item-number h4 {
    margin: 0 0 0 0;
  }

  .advantages__item-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__item-description h4 {
    margin: 0 0 7px 0;
  }

  .advantages__item-description p {
    width: 235px;
    text-align: center;
  }

  .advantages__block {
    position: absolute;
    left: -15px;
    bottom: 383px;
    justify-content: flex-start;
    align-items: center;

    width: 320px;
    padding: 39px 65px 45px;
    margin-bottom: 0;
    min-height: auto;
    max-height: none;
  }

  .advantages__block h4 {
    margin: 0 0 0 0;
  }

  .advantages__block-title {
    margin: 0 0 12px 0;
  }

  .advantages__block-subtitle {
    margin: 0;
  }
}
