
.advert {
  display: flex;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 395px;
    margin-right: 65px;
    padding-top: 120px;
  }

  &__location {
    margin: 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 49px;
    text-transform: uppercase;
    text-align: right;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &__header {
    position: relative;
  }

  &__title {
    margin: 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &__subtitle-list {
    position: absolute;
    bottom: 20px;
    right: 264px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__subtitle-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #ffffff;
  }

  &__button {
    margin-top: 75px;
    padding: 25px 55px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;
    border: 4px solid #ffffff;
  }

  &__pucture {
    margin-right: auto;
  }

  &__pucture img {
    display: block;
  }

  &__social {
    margin-top: auto;
    margin-bottom: 45px;
  }

  &__social-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // &__social-item {
  // }

  &__social-link {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media (max-width: 1119px) {
  .advert {
    &__wrapper {
      padding-top: 0;
      margin-right: 30px;
    }

    &__location {
      font-size: 34px;
      line-height: 34px;
    }

    &__title {
      font-size: 86px;
      line-height: 86px;
    }

    &__subtitle-list {
      bottom: 10px;
      right: 210px;
    }

    &__button {
      margin-top: 75px;
      padding: 25px 55px;

      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      color: #ffffff;
      border: 4px solid #ffffff;
    }

    &__social-list {
      display: none;
    }

    &__pucture img {
      max-width: 324px;
    }
  }
}

// @media (max-width: 767px) {
//   .advert {
//   }
// }
