.coach {
  &__wrapper {
    box-sizing: border-box; //
    min-height: 513px; //
    padding-bottom: 120px;

    outline: 1px solid #000000;
  }

  &__wrapper h3 {
    margin: 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // &__item {
  // }

  &__picture {
    display: block;
  }

  // &__name {
  // }
}
