.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1119px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

// @media (max-width: 767px) {
//   .container {
//   }
// }
