.first-row {
  &__item {
    display: flex;

    &--left {
      justify-content: flex-end;
    }

    &--right {
      justify-content: flex-start;

      border-top: 1px solid #74819c;
    }
  }

  &__group {
    box-sizing: border-box;
    width: 582px;
    padding: 64px 0;

    &--item-1 {
      padding-right: 170px;

      color: #ffffff;

      background-color: #102654;
    }

    &--item-2 {
      padding-left: 120px;
    }
  }

  &__group h3 {
    margin: 0 0 44px 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 49px;
    font-weight: normal;
    line-height: 51px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__user-info {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__user-info-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-bottom: 27px;

    border-bottom: 1px solid #74819c;
  }

  &__user-info-wrapper label {
    padding-bottom: 4px;
    margin-right: 10px;
  }

  &__user-info-wrapper input {
    box-sizing: border-box;
    width: 100%;

    background-color: #102654;
    border: none;
  }

  &__user-info-wrapper input:hover,
  &__user-info-wrapper input:focus {

    font-size: 14px;
    color: #ffffff;

    outline: 2px solid #3ce93c;
  }

  &__button {
    width: 100%;
    padding: 17px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    border: 3px solid #ffffff;
    background-color: transparent;
  }

  &__button:hover {
    color: #3ce93c;

    border: 3px solid #3ce93c;
  }

  &__contacts-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__contacts-item {
    padding-left: 5px;
  }

  &__contacts-item:nth-child(1),
  &__contacts-item:nth-child(3) {
    width: 210px;
    padding-right: 22px;
    border-right: 1px solid #74819c;
  }

  &__contacts-item:nth-child(2),
  &__contacts-item:nth-child(4) {
    width: auto;
    margin-left: 51px;
  }

  &__contacts-item h4 {
    margin: 0 0 4px 0;
  }

  &__contacts-item p {
    margin: 0 0 18px 0;
    font-size: 14px;
  }

  &__contacts-item a {
    font-size: 18px;
    color: #102654;
  }

  &__contacts-item a:hover {
    color: #d10a42;
  }

  &__contacts-item:nth-child(3) p,
  &__contacts-item:nth-child(4) p {
    margin-bottom: 0;
  }

  // &__group {
  // }
}

@media (max-width: 1199px) {
  .first-row {
    & li {
      box-sizing: border-box;
      padding: 0 162px 0 133px;
    }

    &__item {
      // display: flex;

      &--left {
        justify-content: left;
      }

      &--right {
        justify-content: center;

        border-top: none;
      }
    }

    &__group {
      width: 472px;
      margin: 0 auto;
      padding: 67px 0 67px;

      &--item-1 {
        padding-right: 0;
      }

      &--item-2 {
        padding-left: 0;
      }
    }

    &__group h3 {
      margin: 0 0 43px 0;

      font-size: 42px;
      line-height: 42px;
    }

    // &__user-info {
    // }

    &__user-info-wrapper {
      width: 207px;
      margin-bottom: 28px;
    }

    &__user-info-wrapper label {
      font-size: 14px;
      line-height: 16px;
    }

    // &__user-info-wrapper input {
    // }

    // &__link {
    // }

    // &__contacts-list {
    // }

    &__contacts-item {
      width: 100%;
    }

    &__contacts-item:nth-child(1),
    &__contacts-item:nth-child(3) {
      width: 267px;
      padding-right: 48px;
      padding-left: 0;
    }

    &__contacts-item:nth-child(2),
    &__contacts-item:nth-child(4) {
      margin-left: 48px;
      padding: 0;
    }

    &__contacts-item:nth-child(1),
    &__contacts-item:nth-child(2) {
      margin-bottom: 11px;
    }

    &__contacts-item h4 {
      margin: 0 0 15px 0;

      font-size: 20px;
      line-height: 20px;
    }

    &__contacts-item p {

      font-size: 18px;
      line-height: 18px;
    }

    // &__contacts-item:nth-child(3) p,
    // &__contacts-item:nth-child(4) p {
    // }

    // &__group {
    // }
  }
}

@media (max-width: 767px) {
  .first-row {
    & li {
      padding: 0 15px;
    }

    // &__item {
    // &--left {
    // }

    //   &--right {
    //   }
    // }

    &__group {
      width: 100%;
      max-width: 472px;
      padding: 67px 0 67px;

      // &--item-1 {
      //   }

      //   &--item-2 {
      //   }
    }

    &__group h3 {
      margin: 0 0 44px 0;

      font-size: 32px;
      line-height: 32px;
    }

    &__user-info {
      flex-direction: column;
    }

    &__user-info-wrapper {
      width: 100%;
      margin-bottom: 38px;
    }

    &__user-info-wrapper label {
      margin-right: 15px;
    }

    &__user-info-wrapper input {
      width: 100%;
    }

    // &__button {
    // width: 100%;
    // box-sizing: border-box;
    // }

    &__contacts-list {
      flex-direction: column;
    }

    // &__contacts-item {
    // }

    &__contacts-item:nth-child(1) {
      order: 1;
    }

    &__contacts-item:nth-child(2) {
      order: 3;
    }

    &__contacts-item:nth-child(3) {
      order: 2;
    }

    &__contacts-item:nth-child(4) {
      order: 4;
    }

    &__contacts-item:nth-child(1),
    &__contacts-item:nth-child(3) {
      width: 100%;
      padding-right: 0;
      border-right: none;
    }

    &__contacts-item:nth-child(2),
    &__contacts-item:nth-child(4) {
      margin-left: 0;
    }

    // &__contacts-item h4 {
    // }

    // &__contacts-item p {
    // }

    &__contacts-item:nth-child(3) p {
      margin-bottom: 30px;
    }

    // &__contacts-item:nth-child(4) p {
    // }

    // &__group {
    // }
  }
}
