.first-row {
  min-height: 337px;

  &__item {
    display: flex;

    &--left {
      justify-content: flex-end;
    }

    &--right {
      justify-content: flex-start;

      border-top: 1px solid #74819c;
    }
  }

  &__group {
    box-sizing: border-box;
    width: 580px;
    padding: 70px 0;

    &--item-1 {
      padding-right: 170px;

      color: #ffffff;

      background-color: #102654;
    }

    &--item-2 {
      padding-left: 120px;
    }
  }

  &__group h3 {
    margin: 0 0 55px 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 49px;
    font-weight: normal;
    line-height: 51px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__user-info {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__user-info-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 190px;
    margin-bottom: 30px;

    border-bottom: 1px solid #74819c;
  }

  &__user-info-wrapper input {
    box-sizing: border-box;
    width: 160px;

    background-color: #102654;
    border: none;
  }

  &__link {
    display: block;
    padding: 21px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    border: 3px solid #ffffff;
  }

  &__contacts-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // &__contacts-item {
  //   width: 229px;
  // }

  &__contacts-item:nth-child(1),
  &__contacts-item:nth-child(3) {
    width: 210px;
    padding-right: 60px;
    border-right: 1px solid #74819c;
  }

  &__contacts-item:nth-child(2),
  &__contacts-item:nth-child(4) {
    width: auto;
    margin-left: 60px;
  }

  &__contacts-item h4 {
    margin: 0 0 15px 0;
  }

  &__contacts-item p {
    margin: 0 0 30px 0;
  }

  &__contacts-item:nth-child(3) p,
  &__contacts-item:nth-child(4) p {
    margin-bottom: 0;
  }

  // &__group {
  // }
}

@media (max-width: 1119px) {
  .first-row {
    // min-height: 337px;

    // &__item {
    //   display: flex;

    //   &--left {
    //     justify-content: flex-end;
    //   }

    //   &--right {
    //     justify-content: flex-start;

    //     border-top: 1px solid #74819c;
    //   }
    // }

    // &__group {
    //   box-sizing: border-box;
    //   width: 580px;
    //   padding: 70px 0;

    //   &--item-1 {
    //     padding-right: 170px;

    //     color: #ffffff;

    //     background-color: #102654;
    //   }

    //   &--item-2 {
    //     padding-left: 120px;
    //   }
    // }

    &__group h3 {
      margin: 0 0 50px 0;

      font-size: 42px;
      line-height: 42px;
    }

    // &__user-info {
    //   display: flex;
    //   justify-content: space-between;
    //   margin: 0;
    //   padding: 0;
    //   list-style-type: none;
    // }

    // &__user-info-wrapper {
    //   box-sizing: border-box;
    //   display: flex;
    //   justify-content: space-between;
    //   width: 190px;
    //   margin-bottom: 30px;

    //   border-bottom: 1px solid #74819c;
    // }

    &__user-info-wrapper label {
      font-size: 14px;
      line-height: 16px;
    }

    // &__user-info-wrapper input {
    //   box-sizing: border-box;
    //   width: 160px;

    //   background-color: #102654;
    //   border: none;
    // }

    // &__link {
    //   display: block;
    //   padding: 21px 0;

    //   font-style: normal;
    //   font-weight: bold;
    //   font-size: 14px;
    //   line-height: 16px;
    //   letter-spacing: 0.05em;
    //   text-transform: uppercase;
    //   text-align: center;
    //   color: #ffffff;

    //   border: 3px solid #ffffff;
    // }

    // &__contacts-list {
    //   display: flex;
    //   flex-wrap: wrap;
    //   margin: 0;
    //   padding: 0;
    //   list-style-type: none;
    // }

    // &__contacts-item {
    //   width: 229px;
    // }

    &__contacts-item:nth-child(1),
    &__contacts-item:nth-child(3) {
      width: 218px;
      padding-right: 48px;
    //   border-right: 1px solid #74819c;
    }

    &__contacts-item:nth-child(2),
    &__contacts-item:nth-child(4) {
      // width: auto;
      margin-left: 48px;
    }

    &__contacts-item h4 {
      // margin: 0 0 15px 0;

      font-size: 20px;
      line-height: 20px;
    }

    &__contacts-item p {
      // margin: 0 0 30px 0;

      font-size: 18px;
      line-height: 18px;
    }

    // &__contacts-item:nth-child(3) p,
    // &__contacts-item:nth-child(4) p {
    //   margin-bottom: 0;
    // }

    // &__group {
    // }
  }
}

// @media (max-width: 767px) {
//   .first-row {
//   }
// }
