.first-row {
  min-height: 337px;
  // &__group {
  // }

  &__group h3 {
    margin: 0;
  }

  &__user-info {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // &__link {
  // }

  &__contacts-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // &__contacts-item {
  // }

  &__contacts-item h4 {
    margin: 0;
  }

  &__contacts-item p {
    margin: 0;
  }

  // &__group {
  // }
}
