.gym-hall__wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 60px;
  margin-bottom: 116px;
}

.gym-hall__promo {
  max-width: 360px;
  padding-top: 45px;
}

.gym-hall__promo h3 {
  margin: 0 0 11px 0;

  font-family: "Bebas Neue Regular", "Arial", sans-serif;
  font-size: 49px;
  text-transform: uppercase;
  line-height: 49px;
  letter-spacing: 0.03em;
}

.gym-hall__promo p:first-of-type {
  margin: 0 0 42px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.gym-hall__description {
  margin: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.gym-hall__description:last-child {
  margin-top: 8px;
}

.gym-hall__picture {
  width: 660px;
  height: 401px;

  background-color: #8698cb;
}

.gym-hall__picture img {
  display: block;
}

.gym-hall__video {
  position: absolute;
  top: 408px;
  right: 360px;

  width: 364px;
  height: 228px;

  background: rgba(20, 54, 122, 0.5);

  &::before {
    content: "";
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;

    background: rgba(20, 54, 122, 0.5);
  }
}

.gym-hall__video img {
  display: block;
}

.gym-hall__button {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 100px;
  margin-left: -48px;
  margin-top: -50px;

  background-color: transparent;
  border: none;
  background-image: url("../img/icon-play-btn.png");

  cursor: pointer;

  &:hover {
    background-image: url("../img/icon-play-btn_hov.png");
  }
}

@media (max-width: 1199px) {
  .gym-hall__wrapper {
    align-items: center;
    flex-direction: column;

    padding-top: 96px;
    padding-bottom: 83px;
    margin-bottom: 100px;
    padding-left: 0;
  }

  .gym-hall__promo {
    max-width: 515px;
    margin-bottom: 42px;
    padding-top: 0;

    text-align: center;
  }

  .gym-hall__promo h3 {
    margin-bottom: 13px;
    font-size: 42px;
    line-height: 42px;
  }

  .gym-hall__promo p:first-of-type {
    margin: 0 0 38px 0;
  }

  .gym-hall__description:last-child {
    display: none;
  }

  .gym-hall__picture {
    width: 678px;
    height: 345px;
  }

  .gym-hall__picture img {
    width: 100%;
  }

  .gym-hall__video {
    top: auto;
    bottom: 0;
    right: 50%;

    width: 266px;
    height: 167px;
    margin-right: -133px;
  }

  .gym-hall__button {
    width: 73px;
    height: 73px;
    margin-left: -37px;
    margin-top: -37px;
    background-size: 73px 73px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 767px) {
  .gym-hall__wrapper {
    position: relative;

    padding-top: 65px;
    padding-bottom: 0;
    margin-bottom: 70px;
  }

  .gym-hall__promo {
    max-width: none;
    min-width: 290px;
    margin-bottom: 40px;
    padding-bottom: 347px;

    text-align: left;
  }

  .gym-hall__promo h3 {
    margin-bottom: 11px;
    font-size: 32px;
    line-height: 32px;
  }

  .gym-hall__promo p:first-of-type {
    margin: 0 0 27px 0;
  }

  .gym-hall__description {
    width: 265px;
  }

  .gym-hall__picture {
    position: absolute;
    left: 50%;
    bottom: 207px;

    width: 320px;
    height: 313px;
    margin-left: -160px;
  }

  .gym-hall__picture img {
    height: 313px;
    width: 320px;
  }

  .gym-hall__video {
    position: relative;
    right: 0;

    width: 320px;
    height: 167px;
    margin-right: 0;
  }
}
