.page-footer {
  &__wrapper {
    background-color: #030a1a;
  }

  // &__list {
  // }

  // &__list li {
  // }

  // &__list li:first-child {
  // }

  // &__list li:last-child {
  // }

  &__first-row {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__first-row li {
    width: 50%;
  }

  &__first-row > li:first-child {
    background-color: #102654;
  }

  &__first-row > li:last-child {
    background-color: #ffffff;
  }

  &__second-row {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1119px) {
  .page-footer {
    &__first-row {

      flex-direction: column;
    }

    &__first-row li {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  // .page-footer {
  // }
}
