.page-footer__wrapper {
  display: flex;
  background-color: #030a1a;
}

.page-footer__block-group {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__block-group li {
  width: 50%;
}

.page-footer__block-group > li:first-child {
  background-color: #102654;
}

.page-footer__block-group > li:last-child {
  background-color: #ffffff;
}

.page-footer__footer {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 1199px) {
  .page-footer__block-group {

    flex-direction: column;
  }

  .page-footer__block-group li {
    width: 100%;
  }
}
