.page-header {
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

  &__wrapper {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  // &__advert {
  // }

  &__logo a {
    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__phone {
    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  // &__wrapper {
  // }
}

@media (max-width: 1119px) {
  .page-header {
    background: conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

    &__wrapper {
      padding-top: 40px;
      padding-bottom: 80px;
    }

    &__advert {
      margin-top: 25px;
    }

    &__logo a {
      font-size: 24px;
      line-height: 24px;
    }

    &__phone {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@media (max-width: 767px) {
  .page-header {
    background: conic-gradient(from 171.43deg at 35.31% 34.22%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

    &__wrapper {
      padding-top: 20px;
      // padding-bottom: 80px;
    }

    &__advert {
      margin-top: 80px;
    }

    &__logo a {
      font-size: 20px;
      line-height: 20px;
    }

    &__phone {
      font-size: 20px;
      line-height: 20px;
    }
  }
}
