.promo {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box; //
    // min-height: 740px; //
    padding: 119px 0 116px 0;
  }

  &__info-wrapper {
    box-sizing: border-box;
    padding: 78px 78px;
    width: 100%;

    background: #ed0233;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  &__header h3 {
    width: 201px;
    margin: 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  &__duration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-top: 3px;
    padding-right: 5px;
  }

  // &__date {
  // }

  &__date p:first-child {
    width: 64px;
    padding-top: 5px;
    padding-bottom: 8px;
    margin: 0 0 3px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;

    border-bottom: 1px solid #ffffff;
  }

  &__date span {
    margin: 0;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
  }

  &__date p:last-child {
    display: inline-block;
    width: 39px;
    margin: -18px 0 0 4px;

    vertical-align: middle;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
  }

  &__time span {
    display: block;
    margin: 0 0 7px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
  }

  &__time p {
    width: 88px;
    padding-bottom: 7px;
    margin: 0 0 3px 0;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;

    border-bottom: 1px solid #ffffff;
  }

  &__description {
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
  }

  &__button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 50px;
    padding: 25px;

    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;

    border: 4px solid #ffffff;
  }

  &__button:hover {
    color: #3ce93c;

    border: 4px solid #3ce93c;
  }

  &__picture {
    width: 100%;
    height: 500px;
    background-color: #3a4b70;
  }

  &__picture img {
    display: block;
    min-width: 660px;
  }
}

@media (max-width: 1199px) {
  .promo {
    &__wrapper {
      margin: 0 auto;
      max-width: 750px;
      padding: 100px 0 96px 0;
      // min-height: 292px;
    }

    &__info-wrapper {
      display: flex;
      justify-content: center;
      padding: 45px 43px 45px 45px;
    }

    &__header-wrapper {
      width: 100%;
      min-width: 202px;
      max-width: 250px;
    }

    &__header {
      margin-bottom: 0;
    }

    &__header h3 {
      width: 120px;
      font-size: 53px;
      line-height: 52px;
    }

    &__duration {
      padding-top: 1px;
      padding-right: 0;
    }

    &__date p:first-child {
      padding-top: 0;
      padding-bottom: 2px;
      margin: 0;
      width: 42px;

      font-size: 12px;
    }

    &__date span {
      font-size: 24px;
      line-height: 24px;
    }

    &__date p:last-child {
      width: 26px;
      margin: 2px 0 0 0;
      font-size: 10px;
      line-height: 13px;
    }

    &__time span {
      font-size: 24px;
      line-height: 24px;
    }

    &__time p {
      width: 58px;
      padding-top: 2px;
      padding-bottom: 0;
      margin: 0 0 2px;
      font-size: 12px;
    }

    &__description {
      margin-bottom: 28px;
      font-size: 12px;
    }

    &__button {
      margin-top: 0;
      padding: 11px 0;

      font-size: 10px;
    }

    &__picture {
      width: 386px;
      height: 292px;
    }

    &__picture img {
      min-width: 386px;
    }
  }
}

@media (max-width: 767px) {
  .promo {
    &__wrapper {
      flex-direction: column;
      padding: 69px 0 65px;
      margin: 0 auto;
      min-height: auto;
      max-width: 412px;
    }

    &__info-wrapper {
      align-items: center;
      flex-direction: column;
      padding: 43px 42px 48px 43px;
    }

    &__header-wrapper {
      width: 100%;
      min-width: 202px;
      max-width: 250px;
    }

    &__header {
      margin-bottom: 2px;
      max-width: 250px;
      width: 100%;
    }

    &__header h3 {
      padding-top: 2px;
    }

    &__duration {
      padding-top: 3px;
    }

    &__date p:first-child {
      padding-bottom: 1px;
    }

    &__date span {
      line-height: 29px;
    }

    &__date p:last-child {
      margin: -8px 0 0 0;
    }

    //   &__date-title {
    //   }

    //   &__date-day {
    //   }

    //   &__date-month {
    //   }

    //   &__time span {
    //   }

    //   &__time-title {
    //   }

    &__description {
      display: flex;
      align-self: flex-start;
      margin-bottom: 27px;
    }

    &__button {
      max-width: 250px;
    }

    &__picture {
      width: 100%;
      height: auto;
      min-height: 292px;
    }

    &__picture img {
      min-width: 290px;
    }
  }
}
