.review {
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 560px;
    padding-bottom: 120px;
  }

  &__wrapper h3 {
    margin: 0 0 56px 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__slider-btn {
    top: 102px;

    &--previous {
      left: -65px;
    }

    &--next {
      right: -65px;
    }
  }

  &__group-wrapper {
    position: relative;
  }

  &__group {
    display: flex;
    box-sizing: border-box;
    padding: 58px 62px 60px 62px;
    background-color: #1c3374;
  }

  &__group--hidden {
    display: none;
  }

  &__item {
    position: relative;

    padding-left: 108px;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
  }

  &__item h4 {
    margin: 0 0 17px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
  }

  &__item p {
    margin: 0;
  }

  &__item img {
    position: absolute;
    top: 4px;
    left: 0;

    display: block;
    height: 80px;
  }
}

@media (max-width: 1199px) {
  .review {
    &__wrapper {
      width: 565px;
      padding-bottom: 98px;
    }

    &__wrapper h3 {
      margin: 0 0 44px 0;

      font-size: 42px;
      line-height: 42px;
    }

    // &__slider-btn {
    // }

    &__group {
      padding: 59px 64px 57px;
    }

    &__item img {
      top: 3px;
      left: 1px;
    }

    // &__item {
    // }

    &__item h4 {
      margin: 0 0 15px 0;
    }

    &__item p {
      line-height: 23px;
    }
  }
}

@media (max-width: 767px) {
  .review {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-bottom: 70px;
    }

    &__wrapper h3 {
      margin: 0 0 45px 0;

      font-size: 32px;
      line-height: 32px;
    }

    &__slider-btn {
      top: 158px;

      & svg {
        width: 10px;
        height: 19px;
      }

      &--previous {
        left: -7px;
      }

      &--next {
        right: -7px;
      }
    }

    &__group-wrapper {
      width: 290px;
    }

    &__group {
      justify-content: space-between;
      width: 226px;
      margin: 0 auto;
      padding: 40px 25px 34px;
    }

    &__item img {
      position: relative;
      top: 0;
      left: 0;

      height: 68px;
      width: 68px;
      margin-right: 15px;
      margin-left: 16px;
      margin-bottom: 14px;
    }

    &__item {
      padding-left: 0;
    }

    &__item h4 {
      width: 65px;
      padding-top: 8px;
      margin: 0;

      line-height: 26px;
    }

    &__item p {
      text-align: center;
    }
  }
}
