.second-row {
  display: flex;
  align-items: center;
  padding-top: 5px;
  width: 100%;
  min-height: 108px;

  &__nav-list {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__nav-item {
    margin-right: 40px;
  }

  &__nav-item:first-child {
    margin-right: auto;
    // margin-right: 276px;
  }

  &__nav-item:first-child a {
    margin: 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #ffffff;
  }

  &__nav-item:last-of-type {
    margin-right: auto;
  }

  &__nav-item a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
  }

  &__social {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__social-item {
    margin-right: 25px;
  }

  &__social-item:last-child {
    margin-right: 0;
  }

  // &__social-link {
  // }
}

@media (max-width: 1199px) {
  .second-row {
    min-height: 114px;

    // &__nav-list {
    // }

    &__nav-item {
      margin-right: 30px;
    }

    &__nav-item:first-child {
      // margin-right: 62px;
    }

    &__nav-item:first-child a {
      font-size: 24px;
      line-height: 24px;
    }

    // &__nav-item:last-of-type {
    // }

    // &__nav-item a {
    // }

    // &__social {
    // }

    &__social-item {
      margin-right: 20px;
    }

    // &__social-item:last-child {
    // }

    // &__social-link {
    // }
  }
}

@media (max-width: 767px) {
  .second-row {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 566px;

    &__nav-list {
      margin-bottom: 36px;
      flex-wrap: wrap;
    }

    &__nav-item {
      box-sizing: border-box;
      margin-right: 0;
      margin-bottom: 16px;
      width: 50%;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 5;
        margin-bottom: 0;
      }

      &:nth-child(4) {
        order: 2;
        padding-left: 15px;
      }

      &:nth-child(5) {
        order: 4;
        padding-left: 15px;
      }

      &:nth-child(6) {
        order: 6;
        margin-bottom: 0;
        padding-left: 15px;
      }
    }

    &__nav-item:first-child {
      margin-right: 0;
    }

    &__nav-item:first-child a {
      font-size: 20px;
      line-height: 20px;
    }

    // &__nav-item:last-of-type {
    // }

    // &__nav-item a {
    // }

    // &__social {
    // }

    &__social-item {
      margin-right: 35px;
    }

    // &__social-item:last-child {
    // }

    &__social-link {
      &--vkontakte svg {
        height: 17px;
        width: 32px;
      }

      &--instagram svg {
        height: 27px;
        width: 27px;
      }

      &--facebook svg {
        height: 27px;
        width: 14px;
      }
    }
  }
}
