.slider-btn {
  position: absolute;
  // width: 18px;
  // height: 34px;

  background: transparent;
  border: hidden;
  cursor: pointer;

  &--previous {
    left: -40px;
  }

  &--next {
    right: -40px;
  }
}

@media (max-width: 767px) {
  .slider-btn {
    // position: absolute;
    // width: 18px;
    // height: 34px;

    // background: transparent;
    // border: hidden;
    // cursor: pointer;

    &--previous {
      left: -10px;
    }

    &--next {
      right: -10px;
    }
  }
}
