.subscription {
  background: #f8f9fc;

  &__wrapper {
    position: relative;
    box-sizing: border-box; //
    min-height: 851px; //
    padding-top: 114px;
    padding-bottom: 120px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 38px;
  }

  &__title {
    margin: 0 0 44px 0;

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }

  &__period-list {
    display: flex;
    justify-content: space-between;
    width: 344px;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(16, 38, 84, 0.5);

    list-style-type: none;
    border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  }

  &__period-item {
    padding-bottom: 20px;
    margin-bottom: -2px;
  }

  &__period-item:hover {
    color: #102654;

    cursor: pointer;
    border-bottom: 2px solid #d10a42;
  }

  &__type-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style-type: none;
  }

  &__type-item {
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 64px 77px;
    width: 360px;
    height: 448px;

    background: #ffffff;

    // &--active {
    //   border: 7px solid #2e35ac;
    // }
  }

  &__type-item:hover {
    padding: 57px 70px;
    border: 7px solid #2e35ac;
  }

  &__type-item h3 {
    margin: 0 0 12px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
  }

  &__type-subtitle {
    margin: 0 0 66px 0;

    color: #495a7d;
  }

  &__type-price {
    position: relative;
    margin: 0 0 34px 0;

    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 150%;
    color: #103aae;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -25px;
      left: -15px;

      font-size: 100px;
      color: #e8e8e8;
      opacity: 0.48;
    }

    &--item-1 {
      &::before {
        content: "5000";
      }
    }

    &--item-2 {
      &::before {
        content: "1700";
      }
    }

    &--item-3 {
      &::before {
        content: "2700";
      }
    }
  }

  &__type-price span {
    color: #102654;
  }

  &__type-button {
    display: block;
    box-sizing: border-box;
    width: 210px;
    padding: 25px 0;

    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #102654;
    border: 2px solid #1c3374;
  }

  &__type-item:hover .subscription__type-button {
    color: #ffffff;

    border: none;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  }

  // &__type-button:hover {
  //   color: #ffffff;

  //   border: none;
  //   background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  // }

  &__background {
    position: absolute;
    bottom: -149px;
    right: -84px;
    z-index: 0;
  }
}


@media (max-width: 1119px) {
  .subscription {
    &__wrapper {
      padding-top: 97px;
      padding-bottom: 100px;
    }

    &__header {
      margin-bottom: 45px;
    }

    &__title {
      margin: 0 0 35px 0;

      font-size: 42px;
      line-height: 42px;
    }

    &__period-list {
      width: 333px;
      height: 35px;
      margin: 0;

      font-size: 18px;
    }

    &__type-list {
      flex-direction: column;
      align-items: center;
    }

    &__type-item {
      margin-bottom: 40px;
      padding: 62px 110px;
      width: 442px;
    }

    &__type-item:last-child {
      margin-bottom: 0;
    }

    &__background {
      position: absolute;
      bottom: -124px;
      right: 0;
      z-index: 0;

      width: 347px;
      height: 444px;
    }
  }
}

@media (max-width: 767px) {
  .subscription {
    &__wrapper {
      padding-top: 66px;
      padding-bottom: 70px;
    }

    &__header {
      margin-bottom: 35px;
    }

    &__title {
      margin: 0 0 25px 0;

      font-size: 32px;
      line-height: 32px;
    }

    &__period-list {
      width: 100%;
      height: 35px;
      margin: 0;

      font-size: 16px;
    }

    // &__type-list {
    // }

    &__type-item {
      margin-bottom: 36px;
      padding: 49px 42px 53px;
      width: 100%; //
      height: auto;
    }

    &__type-item:hover {
      padding: 42px 35px 50px;
    }

    &__type-item h3 {
      font-size: 22px;
      line-height: 24px;
    }

    &__type-subtitle {
      margin-bottom: 55px;
    }

    &__type-price {
      margin-bottom: 29px;
      font-size: 48px;

      &::before {
        top: -17px;

        font-size: 82px;
      }
    }

    &__type-button {
      width: 100%;
    }

    // &__type-item:last-child {
    // }

    &__background {
      display: none;
    }
  }
}
