.timetable {
  margin: 0 auto;
  padding-bottom: 80px;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: center;
    margin-top: 116px;
    margin-bottom: 55px;
  }

  &__title {

    font-family: "Bebas Neue Regular", "Arial", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
  }

  &__list-wrapper {
    overflow: hidden;
  }

  &__toggle {
    display: none;
  }

  &__colls-wrapper {
    overflow: hidden;
  }

  &__colls-container {
    box-sizing: border-box;
    width: 100%;
  }

  &__day-list {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 8px 0;
    padding: 0;
    list-style: none;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #15367a;
  }

  &__day-item {
    display: flex;
    align-items: center;
    justify-content: center;
    // min-width: 148px;
    min-width: 148px;
    height: 65px;
    margin: 0 8px 0 0;

    border: 3px solid #1c3374;
    box-sizing: border-box;

    &--hover {
      color: #ffffff;
      background-color: #ed0233;
      border: none;
    }
  }

  &__day-item:last-child {
    margin: 0;
  }

  &__wrapper {
    display: flex;
  }

  &__time-list {
    display: flex;
    flex-direction: column;
    max-width: 65px;
    min-width: 65px;
    margin: 73px 8px 0 0;
    padding: 0;
    list-style: none;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #15367a;
  }

  &__time-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    margin: 0 0 8px 0;

    border: 3px solid #1c3374;
    box-sizing: border-box;

    &--hover {
      color: #ffffff;
      background-color: #ed0233;
      border: none;
    }
  }

  &__field-wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__field-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__field-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 148px;
    height: 110px;
    margin: 0 0 8px 0;

    font-size: 18px;
    text-align: center;
    background-color: #f8f9fc;

    &--active {
      background-color: #ffffff;
      border: 3px solid #1c3374;
    }

    &--hover {
      background-color: #ffffff;
      border: 3px solid #ed0233;
      box-sizing: border-box;
    }

    &:hover {
      // width: auto;
      // height: auto;
      background-color: #ffffff;
      border: 3px solid #ed0233;
      box-sizing: border-box;
    }
  }

  &__scroll {
    &--hidden {
      display: none;
    }
  }
}

@media (max-width: 1199px) {
  .timetable {
    &__header {
      margin-top: 77px;
      margin-bottom: 43px;
    }

    &__title {
      font-size: 42px;
      line-height: 42px;
    }

    &__colls-container {
      width: 1084px;
    }

    &__time-list {
      margin: 73px 5px 0 0;
    }

    &__time-item {
      width: 63px;
      height: 108px;
    }

    &__day-item {
      min-width: 146px;
    }

    &__field-wrapper {
      justify-content: flex-start;
    }

    &__field-list {
      margin: 0 8px 0 0;
    }

    &__field-item {
      width: 146px;
      height: 108px;
    }

    &__scroll {
      width: 610px;
      height: 4px;
      margin-top: -4px;
      margin-left: 70px;

      background-color: #feebef;

      &--hidden {
        display: flex;
      }
    }

    &__scroll-item {
      z-index: 1;
      width: 305px;
      height: 4px;

      border: none;
      background-color: transparent;

      &:hover {
        background-color: #ed0233;

        cursor: pointer;
      }

      &--active {
        background-color: #ed0233;
        pointer-events: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .timetable {
    &__header {
      margin-top: 66px;
      margin-bottom: 38px;
    }

    &__title {
      font-size: 32px;
      line-height: 32px;
    }

    &__list-wrapper {
      position: relative;
      max-width: 302px;
      padding-top: 66px;
    }

    &__toggle {
      position: absolute;
      right: 1px;
      top: 8px;

      display: block;
      box-sizing: border-box;
      width: 51px;
      height: 60px;

      border: 3px solid #1c3374;
      background-color: transparent;

      &::before,
      &::after {
        content: "";
        display: block;

        width: 15px;
        height: 2px;
        background-color: #1c3374;
      }

      &::before {
        position: absolute;
        top: 25px;
        left: 10px;
        transform: rotate(45deg);
      }

      &::after {
        position: absolute;
        top: 25px;
        left: 20px;
        transform: rotate(-45deg);
      }
    }

    &__list {
      min-width: 305px;
      margin-left: -8px;
      display: flex;
    }

    // &__list tr:nth-child(2) {
    //   margin-top: 50px;
    // }

    &__list tr:first-child {
      position: absolute;
      top: -10px;
      right: 50px;
    }

    &__cap-coll {
      // position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 173px;
      height: 60px;
    }

    &__cap-coll:nth-child(n + 3) {
      display: none;
      margin-top: -3px;
    }

    &__cap-row {
      width: 61px;
      height: 80px;
    }

    &__field {
      min-width: 213px;

      &:nth-child(n + 3) {
        display: none;
      }
    }

    &__scroll {
      &--hidden {
        display: none;
      }
    }
  }
}
