body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto Condensed Regular", "Arial", sans-serif;
  color: #102654;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
